@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
}

@theme inline {
    --color-primary: #155dfc;
    --color-white: #ffffff;
    --color-dark: #171717;
    --color-gray: #e5e5e5;
    --color-gray-light: #d4d4d4;
    --color-gray-ultra-light: #f5f5f5;
    --color-gray-dark: #737373;
    --color-gray-placeholder: #a1a1a1;
    --color-gray-text: #404040;
    --color-accent: #1447e6;
    --color-blue: #006fee;
    --color-blue-light: #006fee33;
    --color-red: #fb2c36;
    --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

@layer base {
    :root:has(.no-doc-scroll) {
        overflow: hidden;
        scrollbar-gutter: stable;
    }

    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    body {
        background: var(--white);
        color: var(--dark);
        font-family: var(--font-inter), Arial, Helvetica, sans-serif;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        display: block;
        max-width: 100%;
    }

    ul {
        list-style: none;
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@layer utilities {
    /* Leaflet styles */
    .leaflet-control-zoom {
        top: 90px !important;
    }
}

.date-time-input {
    -webkit-appearance: none;
    appearance: none;
    text-align-last: right; /* some browsers use this for the last line */
    direction: ltr; /* keep logical direction LTR */
    caret-color: auto; /* keep caret visible */
}
.date-time-input::-webkit-datetime-edit,
.date-time-input::-webkit-datetime-edit-fields-wrapper,
.date-time-input::-webkit-date-and-time-value {
    text-align: right !important;
}
