.wheel-picker-container {
    display: flex;
    width: 210px;
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 50%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 50%,
        transparent 100%
    );
    position: relative;
}

.wheel-picker-container::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%;
    height: 32px;
    background: rgb(234, 236, 238);
    border-radius: 5px;
    pointer-events: none;
    z-index: -1;
}

.wheel-picker-items {
    height: 100%;
    padding: 50% 0;
    margin: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
}

.wheel-picker-items::-webkit-scrollbar {
    display: none;
}

.wheel-picker-item {
    margin-right: 10px;
    list-style-type: none;
    width: 100%;
    text-align: center;
    scroll-snap-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.wheel-picker-item div {
    display: inline-block;
}
